@model List<HelpdeskSystem.Models.TicketsBySupportViewModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2" style="text-align: center; background-color:lightgrey">
                Liczba zgłoszeń wg obsługującego
            </th>
        </tr>
        <tr>
            <th>
                Obsługujący
            </th>
            <th>
                Liczba zgłoszeń
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname) @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @item.Count
            </td>
        </tr>
    }
</table>
