@model List<HelpdeskSystem.Models.TicketsByDateViewModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2" style="text-align: center; background-color:lightgrey">
                Liczba zgłoszeń wg daty
            </th>
        </tr>
        <tr>
            <th>
                Data
            </th>
            <th>
                Liczba zgłoszeń
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @item.TicketCount
            </td>
        </tr>
    }
</table>
