@model HelpdeskSystem.MailModels.TicketAddedModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>@Model.Firstname </p>
        <p>@Model.Lastname</p>
</div>
</body>
</html>
