@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    HELPDESK SYSTEM<<br />
    Warszawa, ul.Testowa 123<br />
    <abbr title="Phone">P:</abbr>
    0 22 262 10 15
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@helpdesk.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@helpdesk.com</a>
</address>