@{
    ViewBag.Title = "Strona główna";

}
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        
    </div>
}
else
{
    <br/>
    if (ViewBag.Logout != null && ViewBag.Logout == true)
     {
         <div class="panel panel-success">
             <div class="panel-heading">Informacja</div>
             <div class="panel-body">
                 Zostałeś wylogowany/a poprawnie. Aby rozpocząć ponownie 
                 @Html.ActionLink("przejdź na stronę logowania.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
             </div>
         </div>
    }
    else
    {
        <div class="panel panel-danger">
            <div class="panel-heading">Informacja</div>
            <div class="panel-body">
                Aby korzystać z naszego systemu musisz się zalogować.
                @Html.ActionLink("Przejdź na stronę logowania.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </div>
        </div>
    }

}
